{extend name="boss/public/layout"/}

{block name="body"}
<div style="width: 98%;margin: 10px auto;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>Boss 推荐路线 列表</legend>
        <a href="/boss/route/add" class="btn layui-btn" role="button" style="float: right;margin-right: 20px;">添加</a>
    </fieldset>
    <table class="table layui-table">
    <thead>
    <tr>
        <th>id</th>
        <th>推荐路线编号</th>
        <th>推荐路线名称</th>
        <th>推荐路线图片</th>
        <th  width="260">推荐介绍（美文）</th>
        <th>排序</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="list" id="vo"}
    <tr>
        <td>{$vo.id}</td>
        <td>{$vo.num}</td>
        <td>{$vo.name}</td>
        <td>
            <div class="thumbnail">
                <img src="{$vo.img}">
            </div>
        </td>
        <td>{$vo.des}</td>
        <td>{$vo.sort}</td>
        <td>
            <a href="/boss/route/mod/{$vo.id}" class="btn layui-btn" role="button">
                修改
            </a>
            <a href="/boss/route/plist/{$vo.id}" class="btn layui-btn" role="button">
                编辑文物点
            </a>
            <a href="/boss/route/dell/{$vo.id}" class="btn layui-btn layui-btn-danger" role="button">
                删除
            </a>
        </td>
    </tr>
    {/volist}
    </tbody>
    </table>
    <div id="page"></div>
</div>
{/block}
{block name="javascript"}
<script>
    layui.use(['jquery','laypage','layer'], function () {
        //自定义首页、尾页、上一页、下一页文本
        var laypage = layui.laypage;
        var layer = layui.layer;
        var $ = layui.jquery;
        laypage.render({
            elem: 'page'
            ,count: {$totalSize}
            ,limit: {$limit}
            ,first: '首页'
            ,last: '尾页'
            ,prev: '<em>←</em>'
            ,next: '<em>→</em>'
            ,curr: {$page}
            ,jump: function(obj, first){
                //obj包含了当前分页的所有参数，比如：
                //首次不执行
                if(!first){
                    location.href = '/boss/route/list?page=' + obj.curr
                }
            }
        });
    });
</script>
{/block}