{extend name="boss/public/layout"/}

{block name="body"}
<table class="table layui-table">
    <caption>Boss 推荐路线 列表页</caption>
    <thead>
    <tr>
        <th>id</th>
        <th>推荐路线编号</th>
        <th>推荐路线图片</th>
        <th>推荐介绍（美文）</th>
        <th>推荐类型名称</th>
        <th>排序</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="list" id="vo"}
    <tr>
        <td>{$vo.id}</td>
        <td>{$vo.num}</td>
        <td>
            <div class="thumbnail">
                <img src="{$vo.img}">
            </div>
        </td>
        <td>{$vo.des}</td>
        <td>{$vo.name}</td>
        <td>{$vo.sort}</td>
        <td>
            <a href="/boss/route/mod/{$vo.id}" class="btn layui-btn" role="button">
                修改
            </a>
            <a href="/boss/route/add" class="btn layui-btn" role="button">
                添加
            </a>
            <a href="/boss/route/dell/{$vo.id}" class="btn layui-btn" role="button">
                删除
            </a>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>
{/block}