{extend name="boss/public/layout"/}
{block name="body"}
<!-- 修改添加页 关键是看有没有值传过来 -->
<div class="container">
    <div class="row" >
        <div class="col-xs-6 col-md-offset-3">
            <form class="center-block" role="form" enctype="multipart/form-data" id="datafrom">
                <input type="hidden" id="id" value="{$data.id}">
                <div class="form-group">
                    <label class="" for="preview">预览图</label>
                    <div class="thumbnail" id="preview">
                        <img id="pimg" src="{$data.img}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="" for="inputfile">图片</label>
                    <input type="file" id="inputfile">
                    <a role="button" id="upload" href="#" class="btn btn-default">确认上传</a>
                </div>
                <input type="hidden" value="{$data.img}" id="img">
                <!-- 异步上传图片的按钮 和图片处理 -->
                <div class="form-group">
                    <label class="" for="zone">区</label>
                    <input type="text" value="{$data.zone}" class="form-control" id="zone" placeholder="请输入文物点区域">
                </div>

                <div class="for-group">
                    <label class="" for="name">名称</label>
                    <input type="text" value="{$data.name}" class="form-control" id="name" placeholder="请输入文物点名称">
                </div>
                <div class="for-group">
                    <label class="" for="addr">文物点地址</label>
                    <input type="text" value="{$data.addr}" class="form-control" id="addr" placeholder="请输入文物点地址">
                </div>
                <div class="for-group">
                    <label class="" for="level">文物点等级(1.市宝 2区宝 3国宝 4文物点)</label>
                    <input type="text" value="{$data.level}" class="form-control" id="level" placeholder="请输入文物点等级">
                </div>
                <div class="for-group">
                    <label class="" for="sort">排序</label>
                    <input type="number" value="{$data.sort}" class="form-control" id="sort" placeholder="请输入排序">
                </div>

                <button type="submit" class="btn btn-default" id="submit">继续</button>
            </form>
        </div>
    </div>
</div>
{/black}
{block name="javascript"}
<script type="application/javascript">
    layui.use(['table','jquery'], function() {
        var $ = layui.jquery;
//        if ($('#pimg').attr('src') == '') {
//            $('#pimg').attr('src', '/static/images/no_pic.gif');
//        }
        $("#upload").click(function () {
            //获取图片元素
            var formData = new FormData();
            formData.append('file', $('#inputfile')[0].files[0]);
            $.ajax({
                url: "/index.php?s=helper/upload",
                type: "post",
                data: formData,
                processData: false,
                contentType: false,
                success: function (res) {
                    $("#img").attr('value', "/uploads/" + res);
                    $("#pimg").attr("src", "/uploads/" + res);
                    alert("上传成功");
                }
            });
        });

        $("#datafrom").submit(function () {
            var formData = new FormData();
            formData.append('id', $('#id').attr('value'));
            formData.append('img', $('#img').attr('value'));
            formData.append('zone', $("#zone")[0].value);
            formData.append('name', $("#name")[0].value);
            formData.append('addr', $("#addr")[0].value);
            formData.append('level', $("#level")[0].value);
            formData.append('sort', $("#sort")[0].value);
            $.ajax({
                url: "/index.php?s=boss/point/save",
                type: "post",
                data: formData,
                processData: false,
                contentType: false,
                success: function (res) {
                    alert(res);
                    window.history.back(-1);
                }
            });
        });
    });
</script>
{/block}