{extend name="boss/public/layout"/}
{block name="body"}
<!-- 修改添加页 关键是看有没有值传过来 -->
<div class="container">
    <div class="row" >
        <div class="col-xs-6 col-md-offset-3">
            <form class="layui-form" enctype="multipart/form-data" id="datafrom">
                <a href="/boss/point/banner/list/{$data.id}" class="btn layui-btn" style="margin: 10px 30px;">
                    编辑文物点详情的banner
                </a>
                <a href="/boss/point/near/list/{$data.id}" class="btn layui-btn" style="margin: 10px 30px;">
                    编辑文物点附近
                </a>
                <input type="hidden" id="id" name="id" value="{$data.id}">
                <div class="layui-form-item">
                    <label class="layui-form-label">文物点描述</label>
                    <div class="layui-input-block">
                        <input type="text" name="des" id="des" lay-verify="required" autocomplete="off" placeholder="请输入文物点描述" class="layui-input" value="{$data.des}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">百度地图经度坐标</label>
                    <div class="layui-input-block">
                        <input type="text" name="x" id="x" lay-verify="required" autocomplete="off" placeholder="请输入文物点经度" class="layui-input" value="{$data.x}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">百度地图纬度坐标</label>
                    <div class="layui-input-block">
                        <input type="text" name="y" id="y" lay-verify="required" autocomplete="off" placeholder="请输入文物点纬度" class="layui-input" value="{$data.y}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" class="btn layui-btn" id="submit" lay-submit="" lay-filter="*">继续</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}

{block name="javascript"}
<script type="application/javascript">
    layui.use(['jquery','layer','form'], function() {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;

        form.on('submit(*)', function(data){
            $.post("/boss/point/detail/save",data.field,function(res){
                layer.msg(res.msg);
                if (res.code===0){
                    setTimeout(function () {
                        window.history.back(-1);
                    },2000);
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
{/block}