{extend name="boss/public/layout"/}

{block name="body"}
<!-- 修改添加页 关键是看有没有值传过来 -->
<div class="container">
    <div class="row" >
        <div class="col-xs-6 col-md-offset-3">
            <form class="layui-form" role="form" enctype="multipart/form-data" id="datafrom">
                <input type="hidden" id="id" value="{$data.id}">
                <div class="layui-form-item">
                    <label class="layui-form-label" for="preview">预览图</label>
                    <div class="thumbnail" id="preview">
                        <img id="pimg" src="{$data.img}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="inputfile">图片</label>
                    <input class="layui-input" type="file" id="inputfile">
                    <a role="button" id="upload" href="#" class="btn layui-btn">确认上传</a>
                </div>
                <input type="hidden" value="{$data.img}" id="img">
                <!-- 异步上传图片的按钮 和图片处理 -->
                <div class="layui-form-item">
                    <label class="layui-form-label" for="des">banner介绍</label>
                    <div class="layui-input-block">
                        <input type="text" value="{$data.des}" class="layui-input" id="des" placeholder="请输入介绍">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" for="name">名称</label>
                    <div class="layui-input-block">
                        <input type="text" value="{$data.name}" class="layui-input" id="name" placeholder="请输入跳转地址">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" for="zone">区</label>
                    <div class="layui-input-block">
                        <input type="text" value="{$data.zone}" class="layui-input" id="zone" placeholder="请输入区">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="addr">文物点地址</label>
                    <div class="layui-input-block">
                        <input type="text" value="{$data.addr}" class="layui-input" id="addr" placeholder="请输入区">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" for="level">文物点等级(1.市宝 2区宝 3国宝 4文物点)</label>
                    <div class="layui-input-block">
                        <input type="text" value="{$data.level}" class="layui-input" id="level" placeholder="请输入区">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" for="sort">排序</label>
                    <div class="layui-input-block">
                        <input type="number" value="{$data.sort}" class="layui-input" id="sort" placeholder="请输入跳转地址">
                    </div>
                </div>

                <button type="submit" class="btn layui-btn" id="submit">继续</button>
            </form>
        </div>
    </div>
</div>
{/block}

{block name="javascript"}
<script type="application/javascript">
    layui.use(['table','jquery'], function() {
        var $ = layui.jquery;
        $("#upload").click(function () {
            //获取图片元素
            var formData = new FormData();
            formData.append('file', $('#inputfile')[0].files[0]);
            $.ajax({
                url: "/index.php?s=helper/upload",
                type: "post",
                data: formData,
                processData: false,
                contentType: false,
                success: function (res) {
                    $("#img").attr('value', "http://cqlaojie.com/uploads/" + res);
                    $("#pimg").attr("src", "http://cqlaojie.com/uploads/" + res);
                    alert("上传成功");
                }
            });
        });

        $("#datafrom").submit(function () {
            var formData = new FormData();
            formData.append('id', $('#id').attr('value'));
            formData.append('img', $('#img').attr('value'));
            formData.append('zone', $("#zone")[0].value);
            formData.append('name', $("#name")[0].value);
            formData.append('addr', $("#addr")[0].value);
            formData.append('level', $("#level")[0].value);
            formData.append('sort', $("#sort")[0].value);
            $.ajax({
                url: "/index.php?s=boss/point/save",
                type: "post",
                data: formData,
                processData: false,
                contentType: false,
                success: function (res) {
                    alert(res);
                    window.history.back(-1);
                }
            });
        });
    });
</script>
{/block}