{extend name="boss/public/layout"/}

{block name="body"}
<!-- 修改添加页 关键是看有没有值传过来 -->
<div style="width: 98%;margin: 10px auto;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>添加/编辑文物点</legend>
    </fieldset>
    <form class="layui-form" role="form" enctype="multipart/form-data" id="datafrom">
        <input type="hidden" id="id" name="id" value="{$data.id}">
        <div class="layui-form-item">
            <label class="layui-form-label" for="preview">预览图</label>
            <div class="thumbnail" id="preview">
                <img id="pimg" style="width: 100px;"
                     src="{if condition='isset($data.img)'}{$data.img}{else/}/static/images/no_pic.gif{/if}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="inputfile">图片</label>
            <div class="layui-input-block">
                <input class="layui-input" type="file" id="inputfile">
                <a role="button" id="upload" href="#" class="btn layui-btn">确认上传</a>
            </div>
        </div>
        <input type="hidden" name="img" value="{$data.img}" id="img" lay-verify="image">

        <div class="layui-form-item">
            <label class="layui-form-label" for="name">名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" value="{$data.name}" class="layui-input" id="name" placeholder="请输入名称"
                       lay-verify="name">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" for="zone">区</label>
            <div class="layui-input-block">
                <input type="text" name="zone" value="{$data.zone}" class="layui-input" id="zone" placeholder="请输入区"
                       lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="addr">文物点地址</label>
            <div class="layui-input-block">
                <input type="text" name="addr" value="{$data.addr}" class="layui-input" id="addr" placeholder="请输入地址"
                       lay-verify="required">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" for="level">文物点等级</label>
            <div class="layui-input-inline">
                <select name="level" id="level" lay-verify="required">
                    <option value="1" {if condition="$data.level eq 1" }selected{
                    /if}>市宝</option>
                    <option value="2" {if condition="$data.level eq 2" }selected{
                    /if}>区宝</option>
                    <option value="3" {if condition="$data.level eq 3" }selected{
                    /if}>国宝</option>
                    <option value="4" {if condition="$data.level eq 4" }selected{
                    /if}>文物点</option>
                </select>
                <span>(1市宝 2区宝 3国宝 4文物点)</span>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" for="sort">排序</label>
            <div class="layui-input-block">
                <input type="number" name="sort" value="{$data.sort}" class="layui-input" id="sort" placeholder="排序">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="btn layui-btn" id="submit" lay-submit="" lay-filter="*">继续</button>
            </div>
        </div>
    </form>
</div>
{/block}

{block name="javascript"}
<script type="application/javascript">
    layui.use(['jquery', 'layer', 'form'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;

        $("#upload").click(function () {
            //获取图片元素
            var formData = new FormData();
            formData.append('file', $('#inputfile')[0].files[0]);
            $.ajax({
                url: "/helper/upload",
                type: "post",
                data: formData,
                processData: false,
                contentType: false,
                success: function (res) {
                    $("#img").attr('value', "/uploads/" + res);
                    $("#pimg").attr("src", "/uploads/" + res);
                    layer.msg('上传成功');
                }
            });
        });
        form.verify({
            name: function (value, item) { //value：表单的值、item：表单的DOM对象
                if (value.length <= 0) {
                    return '请输入名称';
                }
            }
            , image: function (value) {
                if (value === '' || value.length === 0) {
                    return '请上传图片';
                }
            }
        });

        form.on('submit(*)', function (data) {
            $.post("/boss/point/save", data.field, function (res) {
                layer.msg(res.msg);
                if (res.code === 0) {
                    setTimeout(function () {
                        location.href = '/boss/point/list';
                    }, 2000);
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
{/block}