{extend name="public:layout"/}
{block name="body"}
<div class="product_sub">
    <div class="product_clear">
        <h4>产品清单：</h4>
        <ul>
            {volist name="carts" id="cart"}
            <li data-id="{$cart.id}"><h5>{$cart.name}</h5><b>￥{$cart.price}</b><span>X{$cart.count}</span></li>
            {/volist}
        </ul>
        <div class="totalr">运费:{$cost},共￥{$totalPrice + $cost}</div>
    </div>
    <div class="product_info">
        <div class="product_ls"><label>姓名：</label><input type="text" value="" name="name"/></div>
        <div class="product_ls"> <label>电话：</label><input type="text" value="" name="phone"/></div>
        <div class="product_ls"><label>地址：</label><input type="text" value="" name="address"/></div>
        {:token()}
    </div>
    <button class="product_subm" type="button">确定</button>
</div>
{/block}
{block name="javascript"}
<script src="/static/js/layer/layer.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" charset="UTF-8"></script>
<script type="text/javascript">
    $(document).ready(function () {
        wx.config({
            appId: '{$jsApi->appId}', // 必填，公众号的唯一标识
            timestamp: {$jsApi->timestamp}, // 必填，生成签名的时间戳
            nonceStr: '{$jsApi->nonceStr}', // 必填，生成签名的随机串
            signature: '{$jsApi->signature}',// 必填，签名，见附录1
            jsApiList: ['chooseWXPay'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.ready(function(){
            // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
        });
        wx.error(function(res){
            // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
        });

        var flag = true;
        var referer = '{$referer}';
        $('.product_subm').on('click',function () {
            if (!flag){
                return false;
            }
            var ids = [];
            $('.product_clear').find('ul').find('li').each(function (index) {
                ids.push($(this).data('id'));
            });
            if (ids.length < 1) {
                parent.layer.alert('请先选择产品');
                return false;
            }

            var name = $('input[name="name"]').val();
            var phone = $('input[name="phone"]').val();
            var address = $('input[name="address"]').val();
            var token = $('input[name="__token__"]').val();
            var chinese = /^[\u4E00-\u9FFF]+$/;

            if (!name || !chinese.test(name) || name.length < 2) {
                parent.layer.alert('请输入正确的姓名');
                return false;
            }
            if (!phone || phone.length != 11 || phone[0] != 1) {
                parent.layer.alert('请输入正确的手机号码');
                return false;
            }
            if (!address || address.length < 9) {
                parent.layer.alert('请输入地址，且不小于9字');
                return false;
            }
            if (!token) {
                parent.layer.alert('页面异常');
                return false;
            }
            $.ajax({
                type: 'post',
                url: "/product/pay",
                data: {'name': name, 'phone': phone, 'ids':ids.join(), '__token__': token,'address':address},
                dataType: "json",
                beforeSend: function () {
                    flag = false;
                },
                success: function (data) {
                    flag = true;
                    if(data.data.token != 'undefined' && data.data.token != ''){
                        $('input[name="__token__"]').val(data.data.token);
                    }
                    if(data.code === 0){
                        var order = data.data.order_no;
                        // 付费
                        wx.chooseWXPay({
                            timestamp: data.data.timeStamp, // 支付签名时间戳
                            nonceStr: data.data.nonceStr, // 支付签名随机串，不长于32 位
                            package: data.data.package, // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=***）
                            signType: data.data.signType, // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
                            paySign: data.data.paySign, // 支付签名
                            success: function (res) {
                                //支付成功
                                parent.layer.alert('购买成功');
                                setTimeout(function () {
                                    location.href = '/ucenter';
                                },1000);
                            },
                            cancel: function (res) {
                                //支付取消
                                $.post("/product/fail", {'order_no':order,'msg':'cancel'}, function (r) {
                                    parent.layer.alert('支付取消');
                                    setTimeout(function () {
                                        location.href = referer;
                                    },1000);
                                });
                            },
                            fail: function(res){       // 支付失败回调函数
                                $.post("/product/fail", {'order_no':order,'msg':'fail'}, function (r) {
                                    parent.layer.alert('支付失败');
                                    setTimeout(function () {
                                        location.href = referer;
                                    },1000);
                                });
                            }
                        });
                    }else{
                        parent.layer.alert(data.msg);
                    }
                }
            });
        });
    });
</script>
{/block}