<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,user-scalable=no,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />
<title>首页</title>
<link href="/static/css/style.css" type="text/css" rel="stylesheet"/>
<script src="/static/js/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="/static/js/swiper.min.js" type="text/javascript"></script>
<script src="/static/js/global.js" type="text/javascript"></script>
</head>
<body>
<div id="head">
    <div class="head">
      <a href="/index.php?s=home" class="logo"></a>
      <div class="nav"></div>
      <ul class="pief_xla">
         <li><a href="/index.php?s=home">首页</a></li>
         <li><a href="#" class="inactive">文物展示</a>
            <ul class="pief_two">
                <li><a href="/index.php?s=point/list">历史建筑</a></li>
                <li><a href="#">任务点打卡</a></li>
                <li><a href="/index.php?s=route/listl">推荐路线</a></li>
                <li><a href="certificate.html">任务点证书</a></li>
            </ul>
         </li>
         <li><a href="#" class="inactive">文保志愿者</a>
            <ul class="pief_two">
                <li><a href="login.html">个人注册</a></li>
                <li><a href="#">文物巡查</a></li>
                <li><a href="train.html">文物保护培训</a></li>
                <li><a href="Inspect.html">巡查反馈</a></li>
            </ul>
         </li>
         <li><a href="#" class="inactive">活动与文创</a>
            <ul class="pief_two">
                <li><a href="activity.html">活动报名</a></li>
                <li><a href="donate.html">我要捐款</a></li>
                <li><a href="product.html">文创产品购买</a></li>
                <li><a href="about.html">关于我们</a></li>
            </ul>
         </li>
         <li><a href="user.html">个人中心</a></li>
         <p>关注重庆的每一处历史遗迹<br/>关注重庆的每一条老街小巷</p>
       </ul>
    </div>
</div>
<!--搜索--> 
<div class="search">
    <form method="post">
	<input type="text" placeholder="请输入名称/级别/区位进行搜索"/>
    <button type="submit"></button>
    </form>
</div>
<!--banner-->
<div class="partner">
     <div class="partner_nei">
         <ul class="swiper-wrapper">
             {volist name="banner" id="vo1"}
             <li class="swiper-slide"><a href="{$vo1.url}"><img src="{$vo1.img}" width="100%"/><dt><span>{$vo1.des}</span></dt></a></li>
             {/volist}
         </ul>
         <!--结束切换内容-->
     <div class="live_partner">
     	<div class="live_partn"></div>
     </div>
     </div>
    </div>
</div>
<!--公告滚动-->
<div class="scroll">
   <ul class="swiper-wrapper">
      <li class="swiper-slide"><a href="#">重庆老街微信公众号正式上线了！</a></li>
      <li class="swiper-slide"><a href="#">重庆老街微信公众号正式上线了！</a></li>
      <li class="swiper-slide"><a href="#">重庆老街微信公众号正式上线了！</a></li>
   </ul>
</div>
<!--导航菜单-->
<div class="nav_tow">
	<ul>
    	<li><a href="/index.php?s=point/list">历史建筑</a></li>
        <li><a href="/index.php?s=route/list">推荐路线</a></li>
        <li><a href="#">任务点打卡</a></li>
        <li><a href="login.html">个人注册</a></li>
        <li><a href="Inspect.html">巡查反馈</a></li>
        <li><a href="donate.html">我要捐款</a></li>
    </ul>
</div>
<!--活动报名-->
<div class="activity">
 <h4>活动报名<a href="/index.php?s=act/list">更多</a></h4>
    {volist name="actlist" id="vo2"}
 <div class="activity_nei">
  <img src="{$vo2.img}" width="100%"/>
  <div class="activity_bao"><span>{$vo2.name}</span> <a href="/index.php?s=act/detail/{$vo2.id}">我要报名</a></div>
  <p>{$vo2.des}</p>
 </div>
    {/volist}
</div>
<!--文创产品购买-->
<div class="buy">
  <h4>文创产品购买<a href="product.html">更多</a></h4>
	<ul>
    	<li><a href="product_nei.html"><img src="/static//static/images/sou_07.jpg" /><div class="buy_nei"><h5>重庆民居   何智亚摄影</h5><b>￥89.00</b></div></a></li>
        <li><a href="product_nei.html"><img src="/static/images/sou_09.jpg"/><div class="buy_nei"><h5>重庆民居   何智亚摄影</h5><b>￥89.00</b></div></a></li>
    </ul>
    <p>已到底部了</p>
</div>
<!--底部-->
<div id="bottom">
<div class="bottom">
 <ul>
  <li class="pick"><a href="index.html">首页</a></li>
  <li><a href="tel:4008001234">联系电话</a></li>
  <li><a href="about.html">关于我们</a></li>
  <li><a href="user.html">个人中心</a></li>
 </ul>
</div>
</div>
<script type="text/javascript">
$(function(){
  var gao=$(".partner ul li").height();
   if(gao!=0){
	   $(".partner").height(gao);
	   $(".partner_nei").height(gao);
	}
   var Swiper1 = $('.partner_nei').swiper({
        loop: true,
		slidesPerView : 1,
        autoplay : 3000,//自动播放
        speed:800,//切换速度
        pagination : '.live_partner',//轮播分页
		autoplayDisableOnInteraction : false
    });
	 var Swiper2 = $('.scroll').swiper({
        loop: true,
		slidesPerView : 1,
        autoplay : 3000,//自动播放
        speed:800,//切换速度
		mode :'vertical',
		autoplayDisableOnInteraction : false
    });
})

</script>

</body>
</html>
