{extend name="public:layout"/}
{block name="body"}
    <!--文物点分类菜单-->
    <div class="kinds clearfix ">
      <h4>景点分区</h4>
      <ul>
          {volist name="zones" id="vo"}
          <li>
              <a href="/index.php?s=point/list&cate={$vo.id}">
                  <img src="{$vo.img}">{$vo.name}
              </a>
          </li>
          {/volist}
      </ul>
  </div>
  <style>
      .clearfix:after {
          content: ".";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden
      }
      .clearfix {
          *height: 1%
      }
      .kinds h4{
          height: 35px;
          background: #e4e4d6;
          font-size: 14px;
          width: 100%;
          line-height: 35px;
          font-weight: 500;
          padding: 0 3% 0 3%;
      }
      .kinds{
          background: #f6f6ee;
          padding-bottom: 10px;
      }
      .kinds li {
          width: 33.3%;
          margin-top: 2%;
          text-align: center;
          display: inline-block;
          float: left;
      }

      .kinds li img {
          height: 84px;
          margin: 10px auto;
          border-radius: 50%;
          border: 2px solid #a47801;
      }
  </style>

{/block}

{block name="javascript"}
<script src="/static/js/swiper.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        var gao = $(".partner ul li").height();
        if (gao != 0) {
            $(".partner").height(gao);
            $(".partner_nei").height(gao);
        }
        var Swiper1 = $('.partner_nei').swiper({
            loop: true,
            slidesPerView: 1,
            autoplay: 3000,//自动播放
            speed: 800,//切换速度
            pagination: '.live_partner',//轮播分页
            autoplayDisableOnInteraction: false
        });
        var Swiper2 = $('.scroll').swiper({
            loop: true,
            slidesPerView: 1,
            autoplay: 3000,//自动播放
            speed: 800,//切换速度
            mode: 'vertical',
            autoplayDisableOnInteraction: false
        });
    })
</script>
{/block}