{extend name="public:layout"/}
{block name="css"}
<style>
    .about_nei p img{width: 100%;!important;}
</style>
{/block}
{block name="body"}
<!--关于我们-->
<div class="about">
    <img src="{$about.img}" width="100%"/>
    <h4 class="about_title">{$about.title}</h4>

    <div class="about_nei">
        {$about.about}
    </div>
    <div class="tube_not">
        <span></span>
    </div>
    <!--联系电话-->
    <div class="tube_link">
        联系电话：{$about.tel}<br/>地址：{$about.address}
    </div>
    <div id="allmapt"></div>
</div>
{/block}

{block name="javascript"}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=fBdXTR51bqAmfP5taFKRcQv5"></script>
<script type="text/javascript">
    var longitude = {$about.longitude};
    var latitude = {$about.latitude};
    // 百度地图API功能
    map = new BMap.Map("allmapt");
    map.centerAndZoom(new BMap.Point(longitude,latitude), 15);
    var address = '地址：{$about.address} <a style="color:#6bb1f7;" href="http://api.map.baidu.com/marker?location='+latitude+','+longitude+'&title=&output=html">导航</a>';
    var data_info = [longitude,latitude,address];
    var opts = {
        width : 250,     // 信息窗口宽度
        height: 80,     // 信息窗口高度
        title : "信息窗口" , // 信息窗口标题
        enableMessage:true//设置允许信息窗发送短息
    };
    var marker = new BMap.Marker(new BMap.Point(data_info[0],data_info[1]));  // 创建标注
    var content = data_info[2];
    map.addOverlay(marker);               // 将标注添加到地图中
    addClickHandler(content,marker);

    function addClickHandler(content,marker){
        marker.addEventListener("click",function(e){
            openInfo(content,e)}
        );
    }
    function openInfo(content,e){
        var p = e.target;
        var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
        var infoWindow = new BMap.InfoWindow(content,opts);  // 创建信息窗口对象
        map.openInfoWindow(infoWindow,point); //开启信息窗口
    }

    var tube=$(".about_nei").height();
    if(tube>110){
        $(".about_nei").css("height","110");
    }
    $(".tube_not").click(function(){
        $(".about_nei").css("height","100%");
        $(".tube_not").hide();
    });
</script>
{/block}