{extend name="public:layout"/}
{block name="body"}
<div class="donate_nei">
    <div class="activity_title">
        <dt>
            <div style="width: 100%;height:75px;overflow: hidden;">
                <img src="{$detail.img}" style="height: auto;"/>
            </div>
        </dt>
        <h4>{$detail.name}</h4>
        <p>{$detail.des}</p>
    </div>
    <div class="donate_sum">
        <label>捐款金额：</label>
        <span class="reduce">-</span>
        <input class="amount" type="number" value="0" onkeyup="value=value.replace(/[^\d]/g,'')"
               ng-pattern="/[^a-zA-Z]/"/>
        <span class="plus">+</span>
    </div>
    <a href="javascript:void(0);" class="donate_sub" data-id="{$detail.id}">确定</a>
</div>
{/block}
{block name="javascript"}
<script src="/static/js/layer/layer.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" charset="UTF-8"></script>
<script type="text/javascript">
    wx.config({
        debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '{$jsApi->appId}', // 必填，公众号的唯一标识
        timestamp: {$jsApi->timestamp}, // 必填，生成签名的时间戳
        nonceStr: '{$jsApi->nonceStr}', // 必填，生成签名的随机串
        signature: '{$jsApi->signature}',// 必填，签名，见附录1
        jsApiList: ['chooseWXPay'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.ready(function(){
        // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
    });
    wx.error(function(res){
        // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
    });

    var referer = '{$referer}';
    $(document).ready(function () {
        //当input我空
        $(".amount").blur(function () {
            var amount = $(this).val();
            if (amount == "") {
                $(this).val("0");
            }
        });
        //操作减
        $(".reduce").click(function () {
            if ($(".amount").val() < 1) {
                $(".amount").val("0");
                return false;
            } else {
                $(".amount").val(parseInt($(".amount").val()) - 1);
            }
        });
        //操作加
        $(".plus").click(function () {
            $(".amount").val(parseInt($(".amount").val()) + 1);
        });
        var flag = true;
        $('.donate_sub').on('click', function () {
            if (!flag){
                return false;
            }
            var amount = $(".amount").val();
            var id = $(this).data('id');
            if (parseInt(amount) <= 0) {
                parent.layer.alert('请输入捐款金额');
                return false;
            }
            if (amount[0] == 0){
                parent.layer.alert('请输入正确的捐款金额');
                return false;
            }
            if (Number(id) <= 0) {
                parent.layer.alert('非法请求');
                return false;
            }
            //  提交表单信息
            $.ajax({
                type: 'post',
                url: "/donate/save",
                data: {'amount': amount, 'id':id},
                dataType: "json",
                beforeSend: function () {
                    flag = false;
                },
                success: function (data) {
                    flag = true;
                    if(data.code === 0){
                        var order = data.data.order_no;
                        // 付费
                        wx.chooseWXPay({
                            timestamp: data.data.timeStamp, // 支付签名时间戳
                            nonceStr: data.data.nonceStr, // 支付签名随机串，不长于32 位
                            package: data.data.package, // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=***）
                            signType: data.data.signType, // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
                            paySign: data.data.paySign, // 支付签名
                            success: function (res) {
                                //支付成功
                                parent.layer.alert('捐款成功');
                                setTimeout(function () {
                                    location.href = '/ucenter';
                                },1000);
                            },
                            cancel: function (res) {
                                //支付取消
                                $.post("/donate/fail", {'order_no':order,'msg':'cancel'}, function (r) {
                                    parent.layer.alert('支付取消');
                                    setTimeout(function () {
                                        location.href = referer;
                                    },1000);
                                });
                            },
                            fail: function(res){       // 支付失败回调函数
                                $.post("/donate/fail", {'order_no':order,'msg':'fail'}, function (r) {
                                    parent.layer.alert('支付失败');
                                    setTimeout(function () {
                                        location.href = referer;
                                    },1000);
                                });
                            }
                        });
                    }else{
                        parent.layer.alert(data.msg);
                    }
                }
            });
        });
    });
</script>
{/block}
