{extend name="public:layout"/}
{block name="body"}
<div class="address">
    <div class="ground">
        <b>
            {switch name="base.level" }
            {case value="1"}市宝{/case}
            {case value="2"}区宝{/case}
            {case value="3"}国宝{/case}
            {case value="4"}文物点{/case}
            {default /}文物点
            {/switch}

            ｜ </b>
        <span>{$base.name}</span><dt>[{$base.zone}]</dt>
    </div>
    <p>地址：{$base.addr}</p>
</div>
<div class="partner">
    <div class="partner_nei">
        <ul class="swiper-wrapper">
            {volist name="list" id="vo1"}
            <li class="swiper-slide"><a href="{$vo1.url}"><img src="{$vo1.img}" width="100%"/><dt><span>{$vo1.des}</span></dt></a></li>
            {/volist}
        </ul>
        <!--结束切换内容-->
        <div class="live_partner">
            <div class="live_partn"></div>
        </div>
    </div>
</div>
</div>
<!--内容-->
<div class="tube">
    <p>{$ext.des}</p>
</div>
<div class="tube_not">
    <span></span>
</div>
<div id="allmap"></div>
<div class="tube_rim">
    <span>周边一公里范围内文物点｜</span><a href="#">各点位可点开查看详情</a>
</div>
<div class="tube_xq">
    {volist name="nearlist" id="vo3"}
    <a href="/point/detail/{$vo3.nid}">· {$vo3.name}<span>(距离{$vo3.distance})</span></a>
    {/volist}
</div>
<div class="tube_notr">
    <span></span>
</div>
{/block}
{block name="javascript"}
<script src="/static/js/swiper.min.js" type="text/javascript"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=fBdXTR51bqAmfP5taFKRcQv5"></script>
<script type="text/javascript">
    $(function(){
        var gao=$(".partner ul li img").height();
        if(gao!=0){
            $(".partner").height(gao);
            $(".partner_nei").height(gao);
        }
        var Swiper1 = $('.partner_nei').swiper({
            loop: true,
            slidesPerView : 1,
            autoplay : 3000,//自动播放
            speed:800,//切换速度
            pagination : '.live_partner',//轮播分页
            autoplayDisableOnInteraction : false
        });
        var tube=$(".tube").height();
        if(tube>200){
            $(".tube").css("height","200");
        }
        $(".tube_not").click(function(){
            $(".tube").css("height","100%");
            $(".tube_not").hide();
        });
        var tube=$(".tube_xq").height();
        if(tube>150){
            $(".tube_xq").css("height","150");
        }
        $(".tube_notr").click(function(){
            $(".tube_xq").css("height","100%");
            $(".tube_notr").hide();
        });
    })

    // 百度地图API功能
    var latitude = {$ext.y};
    var longitude = {$ext.x};
    map = new BMap.Map("allmap");
    map.centerAndZoom(new BMap.Point({$ext.x},{$ext.y}), 15);
    var address = '地址：{$base.addr} <a style="color:#6bb1f7;" href="http://api.map.baidu.com/marker?location='+latitude+','+longitude+'&title=&output=html">导航</a>';
    var data_info = [longitude,latitude,address];
    var opts = {
        width : 250,     // 信息窗口宽度
        height: 80,     // 信息窗口高度
        title : "信息窗口" , // 信息窗口标题
        enableMessage:true//设置允许信息窗发送短息
    };
    var marker = new BMap.Marker(new BMap.Point(data_info[0],data_info[1]));  // 创建标注
    var content = data_info[2];
    map.addOverlay(marker);               // 将标注添加到地图中
    addClickHandler(content,marker);

    function addClickHandler(content,marker){
        marker.addEventListener("click",function(e){
            openInfo(content,e)}
        );
    }
    function openInfo(content,e){
        var p = e.target;
        var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
        var infoWindow = new BMap.InfoWindow(content,opts);  // 创建信息窗口对象
        map.openInfoWindow(infoWindow,point); //开启信息窗口
    }
</script>
{/block}

