{extend name="base" /}
{block name="title"}Boss banner 列表页{/block}
{block name="content"}
<table class="table table-striped">
    <caption>Boss banner 列表页</caption>
    <thead>
    <tr>
        <th>id</th>
        <th>banner图片</th>
        <th>banner介绍</th>
        <th>banner链接</th>
        <th>排序</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="list" id="vo"}
    <tr>
        <td>{$vo.id}</td>
        <td>
            <div class="thumbnail">
                <img src="{$vo.img}">
            </div>
        </td>
        <td>{$vo.des}</td>
        <td>{$vo.url}</td>
        <td>{$vo.sort}</td>
        <td>
            <a href="/boss/banner/mod/{$vo.id}" class="btn btn-primary" role="button">
                修改
            </a>
            <a href="/boss/banner/add" class="btn btn-primary" role="button">
                添加
            </a>
            <a href="/boss/banner/dell/{$vo.id}" class="btn btn-danger" role="button">
                删除
            </a>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>
{/block}