{extend name="boss/public/layout"/}

{block name="body"}
<div style="width: 98%;margin: 10px auto;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>Boss banner 列表</legend>
        <a href="/boss/banner/add" class="btn layui-btn" role="button" style="float: right;margin-right: 20px;">添加</a>
    </fieldset>
    <table class="table layui-table">
    <thead>
    <tr>
        <th>id</th>
        <th>banner图片</th>
        <th>banner介绍</th>
        <th>banner链接</th>
        <th>排序</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="list" id="vo"}
    <tr>
        <td>{$vo.id}</td>
        <td>
            <div class="thumbnail" >
                <img src="{$vo.img}">
            </div>
        </td>
        <td>{$vo.des}</td>
        <td>{$vo.url}</td>
        <td>{$vo.sort}</td>
        <td>
            <a href="/boss/banner/mod/{$vo.id}" class="btn layui-btn" role="button">
                修改
            </a>
            <a href="/boss/banner/del/{$vo.id}" class="btn layui-btn layui-btn-danger" role="button">
                删除
            </a>
        </td>
    </tr>
    {/volist}
    </tbody>
    </table>
</div>
<div id="page"></div>
{/block}