<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$title}</title>
    <link rel="stylesheet" href="/static/boss/css/layui.css">
    {block name="css"}{/block}
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">重庆老街后台管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/boss/news/list">公告管理</a></li>
            <li class="layui-nav-item"><a href="/boss/about">关于我们</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/static/boss/images/head.jpg" class="layui-nav-img">
                    {$admin[1]}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/boss/modify">修改密码</a></dd>
                    <dd><a href="/boss/logout">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">文物点管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/boss/point/list">文物点列表</a></dd>
                        <dd><a href="/boss/point/add">添加文物点</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">banner管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/boss/banner/list">banner列表</a></dd>
                        <dd><a href="/boss/banner/add">添加banner</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">线路管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/boss/route/list">线路列表</a></dd>
                        <dd><a href="/boss/route/add">添加线路</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">订单管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/boss/order/product">产品订单</a></dd>
                        <dd><a href="/boss/order/act">活动报名</a></dd>
                        <dd><a href="/boss/order/donate">捐款信息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">志愿者报名管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/boss/register/list?state=1">志愿者报名信息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">文创产品管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/boss/product/list">文创产品列表</a></dd>
                        <dd><a href="/boss/product/add">添加文创产品</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">活动管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/boss/act/list">活动列表</a></dd>
                        <dd><a href="/boss/act/add">添加活动</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">捐款管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/boss/donate/list">捐款列表</a></dd>
                        <dd><a href="/boss/donate/add">添加捐款</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">公告管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/boss/news/list">公告列表</a></dd>
                        <dd><a href="/boss/news/add">添加公告</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">培训管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/boss/train/catelist">分类列表</a></dd>
                        <dd><a href="/boss/train/cateadd">添加分类</a></dd>
                        <dd><a href="/boss/train/list">培训列表</a></dd>
                        <dd><a href="/boss/train/add">添加培训</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">反馈管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/boss/inspect/list">反馈列表</a></dd>
                        <dd><a href="/boss/inspect/add">添加反馈</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">证书管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/boss/cert/list">证书列表</a></dd>
                        <dd><a href="/boss/cert/add">添加证书</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">文物点附近管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/boss/near/list">文物点附近列表</a></dd>
                        <dd><a href="/boss/near/add">添加文物点附近</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        {block name="body"}{/block}
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 重庆老街
    </div>
</div>
<script src="/static/boss/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use(['element','jquery'], function(){
        var element = layui.element;
        var $ = layui.jquery;
        var _url = '{$pathInfo}';
        var _urlArr = _url.split('/');
        $('.layui-nav-child dd a').each(function (e) {
            console.log($(this).parents('li').find('dd').eq(0).find('a').attr('href'));
            var href = $(this).attr('href');
            var hrefArr = href.split('/');
            if (href === _url){
                $(this).addClass('layui-this');
                $(this).parents('li').addClass('layui-nav-itemed');
            }else if(href){

            }
        });
    });
</script>
{block name="javascript"}{/block}
</body>
</html>