<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$title}</title>
    <link rel="stylesheet" href="/static/boss/css/layui.css">
    {block name="css"}{/block}
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">重庆老街后台管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">banner管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/boss/banner/list">banner列表</a></dd>
                        <dd><a href="/boss/banner/add">添加banner</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">线路管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/boss/route/list">线路列表</a></dd>
                        <dd><a href="/boss/route/add">添加线路</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">文创产品管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/boss/product/list">文创产品列表</a></dd>
                        <dd><a href="/boss/product/add">添加文创产品</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">活动管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/boss/act/list">活动列表</a></dd>
                        <dd><a href="/boss/act/add">添加活动</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">捐款管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/boss/donate/list">捐款列表</a></dd>
                        <dd><a href="/boss/donate/add">添加捐款</a></dd>
                    </dl>
                </li>
                <!--<li class="layui-nav-item"><a href="/boss/banner/list">banner管理</a></li>-->
                <!--<li class="layui-nav-item"><a href="boss/route/list">线路管理</a></li>-->
                <!--<li class="layui-nav-item"><a href="boss/route/list">活动管理</a></li>-->
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        {block name="body"}{/block}
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 重庆老街
    </div>
</div>
<script src="/static/boss/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
{block name="javascript"}{/block}
</body>
</html>