{extend name="boss/public/layout"/}

{block name="body"}
<div style="width: 98%;margin: 10px auto;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>添加/编辑证书</legend>
    </fieldset>
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">证书编号</label>
            <div class="layui-input-block">
                <input type="text" name="num" lay-verify="num" autocomplete="off" placeholder="请输入证书编号"
                       class="layui-input" value="{$cert.num}" style="width: 300px;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上传封面</label>
            <div class="layui-input-block">
                <input type="hidden" name="img" lay-verify="img" autocomplete="off" placeholder="" class="layui-input" value="{$cert.img}">
                <button type="button" class="layui-btn" id="img">
                    <i class="layui-icon">&#xe67c;</i>上传封面
                </button>
                <span class="done"></span>
                <div><img class="preview" src="{$cert.img}" style="width: 100px;"/></div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">要求描述</label>
            <div class="layui-input-block">
                <input type="text" name="des" lay-verify="require" autocomplete="off" placeholder="请输入要求"
                       class="layui-input" value="{$cert.des}" style="width: 300px;">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                {if condition="$cert.id gt 0"}
                <input type="hidden" name="id" value="{$cert.id}">
                {/if}
                <button class="layui-btn" lay-submit="" lay-filter="go">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
{/block}

{block name="javascript"}
<script>
    var $;
    layui.use(['jquery'], function () {
        $ = layui.jquery;
        if($('.preview').attr('src') == ''){
            $('.preview').attr('src','/static/images/no_pic.gif');
        }
    });
    layui.use(['form', 'layer', 'upload'], function () {
        var upload = layui.upload;
        var form = layui.form;
        var layer = layui.layer;

        //执行实例
        var uploadInst = upload.render({
            elem: '#img' //绑定元素
            , url: '/boss/upload' //上传接口
            , data: {type: 'cert'}
            , done: function (res) {
                $('.done').css({"color": "#000"}).text('');
                //上传完毕回调
                if (res.code === 0) {
                    $('input[name="img"]').val(res.data.src);
                    $('.done').css({"color": "green"}).text(res.msg);
                    $('.preview').attr('src', res.data.src);
                } else {
                    $('.done').css({"color": "red"}).text(res.msg);
                }
            }
            , error: function () {
                //请求异常回调
                $('.done').css({"color": "red"}).text('服务异常');
            }
        });

        form.verify({
            num: function (value) { //value：表单的值、item：表单的DOM对象
                if (value == '') {
                    return '请输入编号';
                }
            }
            , img: function (value) {
                if (value === '' || value.length === 0) {
                    return '请上传封面';
                }
            }
            , require:function (value) {
                if (value === '' || value.length === 0) {
                    return '请输入要求描述';
                }
            }
        });

        form.on('submit(go)', function (data) {
            $.post("/boss/cert/add", data.field, function (res) {
                layer.msg(res.msg);
                if (res.code === 0) {
                    setTimeout(function () {
                        location.reload();
                    },1000);
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
{/block}