{extend name="public:layout"/}
{block name="body"}

<!--个人中心-->
<div class="user_roar">
    <img src="{$user.headimgurl}" width="65"/>
    <dt>微信昵称：{$user.nickname}</dt>
</div>
<!--我参与的活动-->
<div class="doing">
    <div class="doing_gd">我参与的活动</div>
    <ul>
        {volist name="actList" id="act"}
        {if condition="$act.need_pay eq 1"}
                {if condition="$act.is_paied eq 1"}
                <li>
                    <a href="/act/detail/{$act.id}"><img src="{$act.img}"/><h4>{$act.name}</h4></a>
                    <p>{$act.des}</p>
                </li>
                {/if}
            {else/}
            <li>
                <a href="/act/detail/{$act.id}"><img src="{$act.img}"/><h4>{$act.name}</h4></a>
                <p>{$act.des}</p>
            </li>
        {/if}
        {/volist}
    </ul>
</div>
<!--我的订单-->
<div class="order">
    <div class="doing_gd">我的订单</div>
    {volist name="orderList" id="order"}
    <ul>
        {volist name="order.orderItems" id="product"}
        <li>
            <a href="/product/detail/{$product.pro_id}">
                <dt>
                    <img src="{$product.img}"/>
                </dt>
                <div class="shop_nei">
                    <h4>{$product.name}</h4>
                    <p>￥{$product.price}</p>
                </div>
                <span>x{$product.count}</span>
            </a>
        </li>
        {/volist}
    </ul>
    {/volist}
</div>
<!--我的捐款-->
<div class="donate_user">
    <div class="doing_gd">我的捐款</div>
    <ul>
        {volist name="donateList" id="donate"}
        <li><b>{:date('Y-m-d',strtotime($donate.create_time))}</b><h5>{$donate.name}</h5><span>金额：￥{$donate.money}</span></li>
        {/volist}
    </ul>
</div>
{/block}

{block name="javascript"}
<script type="text/javascript">
    var tube=$(".about_nei").height();
    if(tube>110){
        $(".about_nei").css("height","110");
    }
    $(".tube_not").click(function(){
        $(".about_nei").css("height","100%");
        $(".tube_not").hide();
    });
    $(".doing_gd").click(function(){
        $(this).parent().find("ul").toggle();
    });
</script>
{/block}