{extend name="boss/public/layout"/}
{block name="css"}
<style>
    #tab{
        position: relative;
        left: 0;
        height: 40px;
        white-space: nowrap;
        font-size: 0;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        transition: all .2s;
        -webkit-transition: all .2s;
    }
    #tab li {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        transition: all .2s;
        -webkit-transition: all .2s;
        position: relative;
        line-height: 40px;
        min-width: 65px;
        padding: 0 15px;
        text-align: center;
        cursor: pointer;
    }
</style>
{/block}}
{block name="body"}
<div style="width: 98%;margin: 10px auto;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>志愿者报名信息</legend>
    </fieldset>
    <ul class="layui-tab-title" style="margin-top: 10px;">
        <li {if condition="$state eq 1"}class="layui-this"{/if}><a href="/boss/register/list?state=1">审核通过</a></li>
        <li {if condition="$state eq 0"}class="layui-this"{/if}><a href="/boss/register/list?state=0">审核未通过</a></li>
    </ul>
    <div class="layui-tab">
        <div class="layui-tab layui-tab-card">
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <a href="/boss/register/list?state={$state}&page={$page}&limit={$limit}&op=export" class="btn layui-btn">导出</a>
                    <table class="layui-table" lay-data="{ url:'/boss/register/list?state={$state}',page:true,id:'idRegister'}"
                           lay-filter="register">
                        <thead>
                        <tr>
                            <th lay-data="{field:'uid', width:80, sort: true, fixed: true}">注册ID</th>
                            <th lay-data="{field:'name', width:80}">姓名</th>
                            <th lay-data="{field:'gender', width:80,templet:'#genderTpl'}">性别</th>
                            <th lay-data="{field:'id_cards', width:180}">身份证</th>
                            <th lay-data="{field:'email', width:200}">邮箱</th>
                            <th lay-data="{field:'phone', width:120}">电话</th>
                            <th lay-data="{field:'career', width:170}">职业</th>
                            <th lay-data="{field:'reason', width:300}">注册原因</th>
                            <th lay-data="{field:'from', width:300}">信息来源</th>
                            <th lay-data="{field:'create_time', width:170,sort: true}">报名时间</th>
                            <th lay-data="{fixed: 'right', width:160, align:'center', toolbar: '#barRegister'}">操作</th>
                        </tr>
                        </thead>
                    </table>
                    <script type="text/html" id="barRegister">
                        {if condition="$state eq 1"}
                            <a class="btn layui-btn" style="line-height: inherit;" lay-event="cancel">取消审核</a>
                        {else/}
                            <a class="btn layui-btn" style="line-height: inherit;" lay-event="pass">审核通过</a>
                        {/if}
                    </script>
                    <script type="text/html" id="genderTpl">
                        {{#  if(d.gender == 1){ }}
                        男
                        {{#  } else { }}
                        女
                        {{#  } }}
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="javascript"}
<script>
    layui.use(['table','jquery','layer'], function(){
        var table = layui.table;
        var $ = layui.jquery;
        var layer = layui.layer;
        //监听工具条
        table.on('tool(register)', function(obj){
            var data = obj.data;
            if(obj.event === 'pass' || obj.event === 'cancel'){
                $.post("/boss/register/pass",{id:data.id},function(res){
                    layer.msg(res.msg);
                    if (res.code===0){
                        obj.del();
                    }
                });
                layer.close(index);
            }else{
                layer.msg('非法请求~');
            }
        });
    });
</script>
{/block}