{extend name="boss/public/layout"/}

{block name="body"}
<div style="width: 98%;margin: 10px auto;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>添加/编辑反馈</legend>
    </fieldset>
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">志愿者id</label>
            <div class="layui-input-block">
                <input type="text" name="uid" lay-verify="required" autocomplete="off" placeholder="请志愿者id"
                       class="layui-input" value="{$inspect.uid}" style="width: 300px;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">反馈信息</label>
            <div class="layui-input-block">
                <textarea name="des" lay-verify="required" autocomplete="off" placeholder="反馈信息" class="layui-textarea" style="width: 450px;">{$inspect.des}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文物点id</label>
            <div class="layui-input-block">
                <input type="number" name="pid" lay-verify="required" autocomplete="off" placeholder="请输入文物点id" class="layui-input" value="{$inspect.pid}" style="width: 200px;" onkeypress="return noNumbers(event)" onblur="return checkNumber(event,0)">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                {if condition="$inspect.id gt 0"}
                <input type="hidden" name="id" value="{$inspect.id}">
                {/if}
                <button class="layui-btn" lay-submit="" lay-filter="go">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
{/block}

{block name="javascript"}
<script>
    function noNumbers(e) {
        var keynum;
        var keychar;
        if (window.event) // IE
        {
            keynum = e.keyCode
        }
        else if (e.which) // Netscape/Firefox/Opera
        {
            keynum = e.which
        }
        keychar = String.fromCharCode(keynum);
        //判断是数字,且小数点后面只保留两位小数
        if (!isNaN(keychar)) {
            var index = e.currentTarget.value.indexOf(".");
            if (index >= 0 && e.currentTarget.value.length - index > 2) {
                return false;
            }
            return true;
        }
        //如果是小数点 但不能出现多个 且第一位不能是小数点
        if ("." == keychar) {
            if (e.currentTarget.value == "") {
                return false;
            }
            if (e.currentTarget.value.indexOf(".") >= 0) {
                return false;
            }
            return true;
        }
        return false;
    }

    function checkNumber(e, len) {
        var val = e.currentTarget.value;
        if (!val) {
            return false;
        }
        var b = parseFloat(val);

        e.currentTarget.value = Number(b).toFixed(len);
    }
    var $;
    layui.use(['jquery'], function () {
        $ = layui.jquery;
        if($('.preview').attr('src') == ''){
            $('.preview').attr('src','/static/images/no_pic.gif');
        }
    });
    layui.use(['form', 'layer'], function () {
        var form = layui.form;
        var layer = layui.layer;
        form.on('submit(go)', function (data) {
            $.post("/boss/inspect/add", data.field, function (res) {
                layer.msg(res.msg);
                if (res.code === 0) {
                    setTimeout(function () {
                        location.reload();
                    },1000);
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
{/block}