{extend name="boss/public/layout"/}

{block name="body"}
<div style="width: 98%;margin: 10px auto;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>添加/编辑培训分类</legend>
    </fieldset>
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">培训分类名</label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="name" autocomplete="off" placeholder="请输入分类名"
                       class="layui-input" value="{$cate.name}" style="width: 300px;">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                {if condition="$cate.id gt 0"}
                <input type="hidden" name="id" value="{$cate.id}">
                {/if}
                <button class="layui-btn" lay-submit="" lay-filter="go">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
{/block}

{block name="javascript"}
<script>
    var $;
    layui.use(['jquery'], function () {
        $ = layui.jquery;
    });
    layui.use(['form', 'layedit', 'layer'], function () {
        var form = layui.form;
        var layer = layui.layer;
        form.verify({
            name: function (value) { //value：表单的值、item：表单的DOM对象
                if (/^\d+\d+\d$/.test(value)) {
                    return '分类名不能全为数字';
                }
                if (value.length == 0) {
                    return '请输入分类名';
                }
            }
        });
        form.on('submit(go)', function (data) {
            $.post("/boss/train/cateadd", data.field, function (res) {
                layer.msg(res.msg);
                if (res.code === 0) {
                    setTimeout(function () {
                        location.reload();
                    },1000);
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
{/block}