{extend name="boss/public/layout"/}

{block name="body"}
<div style="width: 98%;margin: 10px auto;">
    <table class="layui-table" lay-data="{ url:'/boss/train/list',page:true,id:'idTrain'}"
           lay-filter="train">
        <thead>
        <tr>
            <th lay-data="{field:'id', width:60, sort: true, fixed: true}">ID</th>
            <th lay-data="{field:'title', width:200}">培训标题</th>
            <th lay-data="{field:'name', width:120,templet: '#cateTpl'}">分类</th>
            <th lay-data="{field:'url', width:180,templet: '#urlTpl'}" >公告外链</th>
            <th lay-data="{field:'create_time', width:150,sort: true}">添加时间</th>
            <th lay-data="{field:'update_time', width:150, sort: true}">更新时间</th>
            <th lay-data="{fixed: 'right', width:120, align:'center', toolbar: '#barTrain'}">操作</th>
        </tr>
        </thead>
    </table>
    <script type="text/html" id="barTrain">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script type="text/html" id="urlTpl">
        <a href="{{d.url}}" class="layui-table-link" target="_blank">{{d.url}}</a>
    </script>
</div>
{/block}

{block name="javascript"}
<script>
    layui.use(['table', 'jquery'], function () {
        var table = layui.table;
        var $ = layui.jquery;
        //监听表格复选框选择
        table.on('checkbox(train)', function (obj) {
            console.log(obj)
        });
        //监听工具条
        table.on('tool(train)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除此培训吗~?', function (index) {
                    $.post("/boss/train/del", {id: data.id}, function (res) {
                        layer.msg(res.msg);
                        if (res.code === 0) {
                            obj.del();
                        }
                    });
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                location.href = '/boss/train/mod/' + data.id;
            }
        });
    });
</script>
{/block}