<!--底部-->
<div id="bottom">
    <div class="bottom">
        <ul>
            <li {if condition="$_action eq 'index'"}class="pick"{/if}><a href="/index.php?s=home">首页</a></li>
            <li><a href="/index.php?s=route/list">推荐线路</a></li>
            <li {if condition="$_action eq 'about'"}class="pick"{/if}><a href="/index.php?s=about">关于我们</a></li>
            <li {if condition="$_action eq 'ucenter'"}class="pick"{/if}><a href="/index.php?s=ucenter">个人中心</a></li>
        </ul>
    </div>
</div>