<div id="head">
    <div class="head">
        <a href="/index.php?s=home" class="logo"></a>
        <div class="nav"></div>
        
    </div>
</div>
<ul class="pief_xla">
 <li><a href="/index.php?s=home">首页</a></li>
 <li><a href="#" class="inactive">文物展示</a>
     <ul class="pief_two">
             <li><a href="index.php?s=point/list">历史建筑</a></li>
                    <li><a href="#">任务点打卡</a></li>
                    <li><a href="/index.php?s=route/list">推荐路线</a></li>
                    <li><a href="/index.php?s=certificate">任务点证书</a></li>
                </ul>
            </li>
            <li><a href="#" class="inactive">文保志愿者</a>
                <ul class="pief_two">
                    <li><a href="/index.php?s=register">个人注册</a></li>
                    <li><a href="/index.php?s=inspect">文物巡查</a></li>
                    <li><a href="/index.php?s=train/list">文物保护培训</a></li>
                    <li><a href="/index.php?s=inspect/back/list">巡查反馈</a></li>
                </ul>
            </li>
    <li><a href="#" class="inactive">活动与文创</a>
    <ul class="pief_two">
        <li><a href="/index.php?s=act/list">活动报名</a></li>
        <li><a href="/index.php?s=donate/list">我要捐款</a></li>
        <li><a href="/index.php?s=product/list">文创产品购买</a></li>
        <li><a href="/index.php?s=about">关于我们</a></li>
   </ul>
  </li>
  <li><a href="/index.php?s=ucenter">个人中心</a></li>
  <p>关注重庆的每一处历史遗迹<br/>关注重庆的每一条老街小巷</p>
</ul>