{extend name="public:layout"/}
{block name="body"}
<!--任务点证书-->
<div class="certificate">
    <ul>
        <li><h5>证书一</h5>
            <dt><img src="/static/images/certificate_03.jpg" width="219" height="150"/></dt>
            <h4>要求：</h4>
            <p>获取此任务点证书，需要完成……达到………………………………要求即可获得。</p></li>
        <li><h5>证书一</h5>
            <dt><img src="/static/images/certificate_03.jpg" width="219" height="150"/></dt>
            <h4>要求：</h4>
            <p>获取此任务点证书，需要完成……达到………………………………要求即可获得。</p></li>
        <li><h5>证书一</h5>
            <dt><img src="/static/images/certificate_03.jpg" width="219" height="150"/></dt>
            <h4>要求：</h4>
            <p>获取此任务点证书，需要完成……达到………………………………要求即可获得。</p></li>
    </ul>
</div>
{/block}