{extend name="public:layout"/}
{block name="body"}
<!--地点详情-->
<div class="address">
    <div class="ground">
        <b>{$level[$base.level]}｜ </b><span>{$base.name}</span><dt>[{$base.zone}]</dt>
    </div>
    <p>地址：{$base.addr}</p>
</div>
<!--内容-->
<div class="tube">
    <p>{$ext.des}</p>
</div>
<div class="tube_not">
    <span></span>
</div>
<!--巡查留言-->
<div class="live_message">
        <h4>巡查留言</h4>
        <textarea placeholder="请输入巡查留言" id="msg"></textarea>
        <div class="button_mesg">
                <a href="javascript:void(0);" class="up_message">提交留言</a>
         </div>
    </div>
    <style>
        .live_message h4{
            height: 35px;
        background: #e4e4d6;
        font-size: 14px;
        width: 100%;
        line-height: 35px;
        font-weight: 500;
        padding: 0 3% 0 3%;
        }
        .live_message{
            background: #e4e4d76b;
        }
        .live_message textarea{
            width: 92%;
            margin: 20px auto 10px auto;
            min-height: 100px;
            display: block;
            border: 1px solid #a478018f;
            border-radius: 5px;
        }
        .button_mesg a{
            display: inline-block;
            width: 60px;
            height: 30px;
            background: #b08832;
            line-height: 30px;
            text-align: center;
            color: #fff;
            margin-bottom: 20px;
        }
        .button_mesg{
            text-align: right;
            padding-bottom: 10px;
            margin-right: 4%;
        }
    </style>
<!--巡查反馈-->
<div class="inspect_nei">
    <h4>巡查反馈：</h4>
    {volist name="inspect" id="vo2"}
    <div class="inspect_list">
        <dt><img src="{$vo2.headimgurl}"/><em>{$vo2.nickname}</em></dt>
        <p>{$vo2.des}</p>
    </div>
    {/volist}
</div>
{/block}
{block name="javascript"}
<script src="/static/js/layer/layer.js"></script>
<script type="text/javascript">
    $(function(){
        var isPass = {$userPass};
        var flag = true;
        var token = '{$token}';
        $('.up_message').on('click',function(){
            if (!flag){
                return false;
            }
            if (!isPass){
                parent.layer.alert("抱歉，您还不是志愿者", {icon: 5});
                return false;
            }
            var msg = $('#msg').val();
            if (msg.length == 0 ){
                parent.layer.alert("请输入巡查留言", {icon: 5});
                return false;
            }
            //  提交表单信息
            $.ajax({
                type: 'post',
                url: "/inspect/back/detail/{$id}",
                data: {msg:msg,__token__:token},
                dataType: "json",
                beforeSend: function () {
                    flag = false;
                },
                success: function (data) {
                    flag = true;
                    parent.layer.alert(data.msg);
                    if (data.code === 0) {
                        $('#msg').val('');
                    }else{
                        return false;
                    }
                },
                error:function (res) {
                    parent.layer.alert('服务有误');
                }
            });
        });
    })
</script>
{/block}