{extend name="public:layout"/}
{block name="body"}
<!--搜索-->
<div class="search">
    <form method="post">
        <input type="text" placeholder="请输入名称/级别/区位进行搜索"/>
        <button type="submit"></button>
    </form>
</div>
<!--巡查反馈-->
<div class="inspect">
    <ul>
        <li><a href="/inspect/back/detail/1"><img src="/static/images/train_03.jpg"/><span>天门码头</span><b>渝中区</b></a></li>
        <li><a href="/inspect/back/detail/1"><img src="/static/images/train_03.jpg"/><span>天门码头</span><b>大渡口区</b></a></li>
        <li><a href="/inspect/back/detail/1"><img src="/static/images/train_03.jpg"/><span>天门码头</span><b>渝中区</b></a></li>
        <li><a href="/inspect/back/detail/1"><img src="/static/images/train_03.jpg"/><span>天门码头</span><b>大渡口区</b></a></li>
        <li><a href="/inspect/back/detail/1"><img src="/static/images/train_03.jpg"/><span>天门码头</span><b>渝中区</b></a></li>
        <li><a href="/inspect/back/detail/1"><img src="/static/images/train_03.jpg"/><span>天门码头</span><b>大渡口区</b></a></li>

    </ul>
</div>
{/block}