{extend name="public:layout"/}
{block name="body"}
<!--活动报名-->
<div class="activityr">
    <div class="activityr_list">
        <img src="{$data.img}" width="100%"/>
        <div class="activityr_local"><h4>{$data.name}</h4><em>{$data.zone}</em>
            {if condition="$data['isfree'] neq 1"}
            <b>￥{$data.cost}</b>
            {/if}
        </div>
        <p class="more">{$data.des}</p>
    </div>
    <div class="tube_not"><span></span></div>
    <a href="act/join/{$data.id}" class="apply">我要报名</a>
</div>
{/block}

{block name="javascript"}
<script type="text/javascript">
    var more=$(".more").height();
    if(more > 110){
        $(".more").css("height","110")
    }
    $(".tube_not").click(function(){
        $(".more").css("height","100%");
        $(this).hide();
    });
</script>
{/block}
