<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,user-scalable=no,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"
          name="viewport"/>
    <title>title</title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet"/>
    <script src="/static/js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="/static/js/global.js" type="text/javascript"></script>
</head>
<body class="light">
{include file="public/header" /}

<!--活动报名-->
<div class="activity_submit">
    <div class="activity_title">
        <dt><img src="{$data.img}"/></dt>
        <h4>{$data.name}</h4>
        <p>{$data.des|mb_substr=0,40,'UTF-8'}</p>
    </div>
    <div class="activity_inpu"><label>姓名：</label><input type="text" name="name" value=""/></div>
    <div class="activity_inpu"><label>电话：</label><input type="text" name="phone" value=""/></div>
    {:token()}
    <input type="hidden" name="id" data-id="{$data.id}">
    <input type="button" class="define" value="确定"/>
</div>
<!--layer-->
<div id="layer">
    {if condition="$data['isfree'] eq 1"}
    <!--免费报名-->
    <div class="layer">
        <h4>提示<span></span></h4>
        <p class="layer_m">恭喜你报名成功！</p>
    </div>
    {else/}
    <!--支付报名-->
    <div class="layer">
        <h4>提示<span></span></h4>
        <p class="layer_tow">恭喜你报名成功，<br/>请前往支付页面！</p>
        <a href="/act/dojoin/">去支付</a>
    </div>
    {/if}
</div>
{include file="public/footer" /}
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" charset="UTF-8"></script>
<script>
    function alertMsg(msg) {
        var layer = $('.layer');
        var is_free = {$data['isfree']};
        var className = is_free ? 'layer_m':'layer_tow';
        layer.find('p').addClass(className).html(msg);
        layer.find('a').hide();
        $('#layer').show();
    }
    wx.config({
        debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '{$jsApi->appId}', // 必填，公众号的唯一标识
        timestamp: {$jsApi->timestamp}, // 必填，生成签名的时间戳
        nonceStr: '{$jsApi->nonceStr}', // 必填，生成签名的随机串
        signature: '{$jsApi->signature}',// 必填，签名，见附录1
        jsApiList: ['chooseWXPay'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.ready(function(){
        // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
    });
    wx.error(function(res){
        // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
    });

    var flag = true;
    var isfree = {$data['isfree']};
    $(function () {
        $('.define').on('click', function () {
            if (!flag){
                return false;
            }

            var id = $('input[name="id"]').data('id');
            var name = $('input[name="name"]').val();
            var phone = $('input[name="phone"]').val();
            var token = $('input[name="__token__"]').val();
            var chinese = /^[\u4E00-\u9FFF]+$/;

            if (!token) {
                alertMsg('页面异常');
                return false;
            }
            if (!id) {
                alertMsg('页面异常');
                return false;
            }
            if (!name || !chinese.test(name) || name.length < 2) {
                alertMsg('请输入正确的姓名');
                return false;
            }
            if (!phone || phone.length != 11 || phone[0] != 1) {
                alertMsg('请输入正确的手机号码');
                return false;
            }

            //  提交表单信息
            $.ajax({
                type: 'post',
                url: "/act/dojoin",
                data: {'name': name, 'phone': phone, 'id': id, '__token__': token},
                dataType: "json",
                beforeSend: function () {
                    flag = false;
                },
                success: function (data) {
                    flag = true;
                    if(data.code === 0){
                        // 免费
                        if (isfree){
                            alertMsg(data.msg);
                            location.href = '/';
                        }else{
                            // 付费
                            wx.chooseWXPay({
                                timestamp: data.data.timeStamp, // 支付签名时间戳
                                nonceStr: data.data.nonceStr, // 支付签名随机串，不长于32 位
                                package: data.data.package, // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=***）
                                signType: data.data.signType, // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
                                paySign: res.data.paySign, // 支付签名
                                success: function (res) {
                                    //支付成功
                                    alertMsg('支付成功')
                                },
                                cancel: function (res) {
                                    //支付取消
                                    alertMsg('支付失败')
                                }
                            });
                        }
                    }else{
                        alertMsg(data.msg);
                        $('input[name="__token__"]').val(data.data.token);
                    }
                }
            });
        });
    });
</script>
</body>
</html>